// Pop scheme
$red: rgb(229, 29, 77);
$teal: rgb(50, 191, 181);
$white: rgb(230, 222, 211);
$gold: rgb(229, 166, 0);
$blue: rgb(15, 0, 56);

// Watermelon
$rind: rgb(125, 138, 46); // green
$rind-lite: rgb(201, 215, 135); // light green
$melon-lite: rgb(255, 192, 169); // light pink
$melon: rgb(255, 133, 152); // watermelon flesh
$slate: #444;
