// flavours need a low and equal-ish luminance value
$strawberry: hsl(355, 65, 25);
$blackberry: hsl(303, 40, 25);
$blueberry: hsl(208, 40, 20);
$chocolate: hsl(25, 43, 20);
$matcha: hsl(73, 88, 15);

// accents
$stone: #262721;
$birch: #F2F2F2;

$flavours: $strawberry, $chocolate, $blackberry, $matcha;

// get a wrangle on those saturation levels for lightened colours
@function sat-set($colour, $desat-amount) {
  @if (saturation($colour) > 43) {
    // mellow out the harsh saturation an extra 10 percent
    @return desaturate(lighten($colour, 50%), ($desat-amount + 10));
  } @else if (saturation($colour) >= 43) {
    @return desaturate(lighten($colour, 50%), $desat-amount);
  } @else {
    // just lighten it a bit
    @return lighten($colour, 50%);
  }
}

@for $i from 1 through length($flavours) {
  .player:nth-child(0n+#{$i}) .score-input {
    background: sat-set(nth($flavours, $i), 30);
  }
  .player:nth-child(0n+#{$i}) button.add {
    background: nth($flavours, $i);
    color: $birch;
  }
  // round number
  .player:nth-child(0n+#{$i}) .scores .round {
    background: $stone;
    color: $birch;
  }
  .player:nth-child(0n+#{$i}) .scores li:nth-child(even) .round {
    background: lighten($stone, 10%);
    color: $birch;
  }
  // user's scores
  .player:nth-child(0n+#{$i}) .scores .score {
    background: desaturate(lighten(nth($flavours, $i), 25%), 10%);
  }
  .player:nth-child(0n+#{$i}) .scores li:nth-child(even) .score {
    background: sat-set(nth($flavours, $i), 10);
  }
}

.total {
  background: $stone;
  color: $birch;
}