html,
body {
  margin: 0;
}
body {
  font-family: "Avenir Next", Avenir, Helvetica, sans-serif;
  font-size: 16px;
  position: relative;
}
header {
  text-align: center;
  position: absolute;
  width: 100%;
}
header .controls {
  display: flex;
  justify-content: space-between;
}
header .controls span {
  width: 1.5em;
  height: 1.5em;
  background: white;
  z-index: 100;
  padding: 0.1em;
  margin: 0;
  line-height: 1.2em;
}
header .controls .add-player {
  border-bottom-left-radius: 100%;
  text-align: right;
}
header .controls .remove-player {
  border-bottom-right-radius: 100%;
  text-align: left;
}
header h1 {
  width: 100%;
  margin: 0;
  display: none;
}
.stage {
  display: flex;
  justify-content: center;
}
.player {
  position: relative;
  transition: all 200ms ease-out;
}
.scores {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.reverse {
  flex-direction: column-reverse;
}
// player name titles
.player .name {
  margin: 0;
  display: flex;
  font-size: 3.5em;
  width: inherit;
  height: 5.5rem;
  position: relative;
}
.player .name .title {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  margin: 0;
  transition: all 100ms ease-in; // on scroll back to top / restore
  z-index: 50;
  background: transparentize($stone, 0.3);
}
.player .name.squish {
  font-size: 2em;
}
.player .name.squish .title {
  width: inherit;
  height: 1.5em;
  transition: all 300ms ease-out; // on scroll down
}
.player .name .title::after {
  content: " ";
  position: absolute;
  top: 0.10em;
  left: calc(50% - 0.65em);
  width: 1.3em;
  height: 1.3em;
  background: transparentize(white, 0.2);
  z-index: -1;
  border-radius: 50%;
}
.player .name.squish .title::after {
  
  
}

// inputs wrapper
.input-wrap {
  display: flex;
  width: 100%;
  height: 2.8rem;
}
// input elements
.player .score-input {
  width: 50%;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.player button.add {
  width: 50%;
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

// list elements
.scores li {
  line-height: 2em;
  display: flex;
}
.delete-box,
.score,
.round {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.round {
  width: 2rem;
  overflow: hidden;
  transition: all 200ms ease;
  font-size: 1.2em;
}
.score {
  font-weight: bold;
  flex: 20 1 auto;
}
.delete-box {
  background: white;
  color: crimson;
  font-weight: bold;
  transition: all 200ms ease;
  overflow: hidden;
  width: 0;
}

.total {
  padding: 0.5rem;
  text-align: center;
  font-size: 2em;
}
.delete-active .delete-box {
  width: 2rem;
}
.delete-active .round {
  width: 0;
  transition: all 200ms ease;
  overflow: hidden;
}

// set player container width based on number of elements
@for $i from 1 through 4 {
  .player:first-child:nth-last-child(#{$i}),
  .player:first-child:nth-last-child(#{$i}) ~ .player {
    width: 100% / $i
  }
}