html,body {
  margin: 0;
}
body {
  font-family: "Avenir Next", Avenir, Helvetica, sans-serif;
  font-size: 16px;
  position: relative;
}
header {
  text-align: center;
  position: absolute;
  width: 100%;
  display: none;
}
header h1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.stage {
  display: flex;
  justify-content: center;
}
.player {
  position: relative;
}
.scores {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
// player name titles
.player .name {
  background: transparentize($stone, 0.2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 3.5em;
  width: 100%;
  height: auto;

  transition: all 200ms ease;
}
.player .name.squish {
  font-size: 2em;
  transition: all 200ms ease;
  position: fixed;
  width: inherit;
}
.player .name.squish .title {
  width: 1.3em;
  height: 1.3em;
  transition: all 200ms ease;
}
.player .name .title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparentize(white, 0.1);
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  margin: 0.1em;
  transition: all 200ms ease;
}
// inputs wrapper
.input-wrap {
  display: flex;
  width: 100%;
  height: 2.8rem;
}
// input elements
.player .score-input {
  width: 50%;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
}
.player button.add {
  width: 50%;
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

// list elements
.scores li {
  line-height: 2em;
  display: flex;
}
.delete,
.score,
.round {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  text-align: center;
  font-size: 1.6rem;
  flex: 0 1 auto;
}
.round {
  width: 2rem;
  flex: 0 1 1;
}
.score {
  font-weight: bold;
  // flex-basis: 2;
  flex: 3 1 auto;
}
.delete {
  background: crimson;
  color: white;
  font-weight: bold;
  transition: all 200ms ease;
  overflow: hidden;
  width: 0;
  flex-grow: 0;
}

.total {
  padding: 0.5rem;
  text-align: center;
  font-size: 2em;
}
.remove .delete {
  width: auto;
  flex-grow: 1;
}

// set width based on number of elements
@for $i from 1 through 4 {
  .player:first-child:nth-last-child(#{$i}),
  .player:first-child:nth-last-child(#{$i}) ~ .player {
    width: 100% / $i
  }
}