doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    title ♥️ Score Board ♠️
    link(rel="stylesheet", href="main.css")
  body
    div.container
      header
        h1 ♥️ Score Board ♠️
      article.scoreboard
        section.player.player1
          h2.name(contenteditable) 🐡
          div.inputs
            input(type="number", pattern="[0-9]")
            button.add +
          ul.scores
          div.total
        section.player.player2
          h2.name(contenteditable) 🦊
          div.inputs
            input(type="number", pattern="[0-9]")
            button.add +
          ul.scores
          div.total
    script(src="scoreBoard.js")
